%btn-primary {
  background: transparent;
  border: 1px solid $light;
  border-radius: 0.25rem;
  padding: 0.5rem;

  &:hover,
  &:focus {
    background-color: $light;
    color: $black;
    text-decoration: none;
  }
}
