%btn-primary {
  background: transparent;
  border: 1px solid #F5F5F5;
  border-radius: 0.25rem;
  padding: 0.5rem;

  &:hover,
  &:focus {
    background-color: #F5F5F5;
    color: #1b1b1d;
    text-decoration: none;
  }
}
