a {
  color: $white;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

ul.links.inline {
  list-style-type: none;
  width: max-content;
  position: relative;
  padding-left: 0;

  &.link__node {
    margin: 2rem 0;
  }
}

.read-more {
  margin: 2rem 0;

  a {
    @extend %btn-primary;
  }
}
