.contextual.trigger {
  display: none;
}

.editing-container {
  background-color: var(--gin-bg-layer3);
}


.frontend-editing__action:hover {
  background-color: var(--gin-color-primary-hover);
}

.frontend-editing--outline {
  outline: 4px solid var(--gin-color-primary-hover);
}

button.editing-container__toggle {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>');
}

button.editing-container__close {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
}

.editing-container__toggle,
.editing-container__close {
  border: none;
  background-color: transparent;
  color: $white;
}

.path-frontend-editing .layout-node-form__actions .gin-sticky {
  position: fixed;
  bottom: 10% !important;
  background: blue !important;
  border: 1px solid gray;
  padding: 0 15px;
  border-radius: 8px;
}

#edit-gin-actions {
  background:hotpink !important;
}
