body {
  position: relative;
  margin: 0;
  font-family: "system-ui";
  background-color: $black;
  color: white;

  @media screen and (min-width: $mobile-breakpoint) {
    &:before {
      content: "";
      width: 50vw;
      height: 100%;
      min-height: 100vh;
      background-color: $light;
      z-index: -1;
      position: absolute;
      overflow: hidden;
      border-radius: 0.5rem;
      top: 10rem;
    }
  }
}
