.header {
  background-color: $black;

  &__bottom {
    @extend %max-width;

    display: flex;
    align-items: center;
  }

  &__branding {
    display: flex;

    .site-name {
      align-self: center;
      color: $white;
      font-size: 1.25rem;
      font-weight: bold;
      text-decoration: none;

      @media screen and (max-width: $mobile-breakpoint) {
       display: none;
      }
    }
  }
}
