.layout-content {
  @extend %max-width;

  max-width: 1180px;
  background-color: $dark;
  border-radius: 0.5rem;
  padding: 2rem;
  margin-top: 2rem;
  width: 75%;

  @media screen and (min-width: $mobile-breakpoint) {
    //width: 100%;
  }
}
