.layout-content {
  @extend %max-width;

  max-width: 1180px;
  background-color: $dark;
  border-radius: 0.5rem;
  padding: 2rem;
  margin-top: 2rem;

  @media screen and (max-width: $mobile-breakpoint) {
    width: 60%;
  }
}
